* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  color: #333;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

.sidebar h2 {
  color: #0096C7;
  margin-bottom: 1rem;
}

.sidebar a {
  display: block;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #e0edff;
  color: #2563eb;
  border-left: 4px solid #2563eb;
}

.main {
  flex: 1;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  height: 100px;
  background-color: #0096C7;
  padding: 10px;
  border-radius: 5px;
}

.header h1 {
  font-size: 1.75rem;
}

.btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1d4ed8;
}

.chart {
  background: white;
  padding: 2rem;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  font-style: italic;
  color: #999;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-start;
  justify-content: space-around;
}

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 220px;
  height: 250px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.card h2 {
  font-size: 15px;
  color: #0096C7;
}

.card p {
  font-size: 12px;
}

.card button {
  background-color: #F2B63D;
  border: none;
  padding: 5px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover {
  background-color: #e0a629;
  transform: scale(1.05);
}
.table-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

th,
td {
  text-align: left;
  padding: 0.75rem;
}

thead {
  background-color: #f3f4f6;
}

tbody tr:hover {
  background-color: #f9fafb;
}

footer {
  background-color: #0096C7;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    padding: 1rem;
  }
}